# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.python-version

# IDE
.vscode/
.idea/

# Окружение и зависимости
venv/
env/
.env

# Отчеты
allure-results/
allure-report/

# Бинарные файлы (драйверы)
*.exe
chromedriver
geckodriver